table {
    border-collapse: collapse;
}
td {
    width: 100px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    color: black;
    border: 2px solid white;
}
.rojo { 
    background-color: red; 
}

.blanco { 
    background-color: white; 
}

.verde { 
    background-color: green; 
}

.gris { 
    background-color: gray; 
}

.azul { 
    background-color: blue; 
}

.violeta { 
    background-color: violet; 
}

.cafe { 
    background-color: brown; 
}

.rosado { 
    background-color: pink; 
}

.turquesa { 
    background-color: turquoise; 
}

.naranjo { 
    background-color: orange; 
}

.purpura { 
    background-color: purple; 
}

.amarillo { 
    background-color: yellow; 
}

.negro { 
    background-color: black; color: white; 
}
